@media only screen and (max-width: 900px) {
    .img-fluid {
        height: 160px;
        width: 210px;
        margin: 10px 0; 
    }
    .section-data h1 {
        font-size: 1.7em;
    }
    .data h2{
        font-size: 1em;
    }
    .row{
        margin-top: 50px;
        padding: 10px;
    } 
    .content h2{
        margin-top: 10px;
        font-size: 4em;
        padding: 0;
    }
    .col2{
        padding: 40px;
    }
    .col1 video{
        margin: 0 10px;
        justify-content: center;
        height: 300px;
    }
    .row6{
        text-align: center;
        display: block;
    }
    .navbar-toggler-icon{
        color: black;
    }
    .data h4{
        font-size: 2rem;
    }
    .nav_bg{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 670px)  {
    .footer-section{
    display: flex;
    flex-direction: column;
}
.container .card .contain {
    padding: 0;
}
.container-fluid{
    justify-content: space-between;
}
.btn{

    padding-left: 20px;
    font-size: 0.8rem;
    width: 200px;
    padding-right: 20px;
}
.container .card .contain h3{
    font-size: 1.2em;
    margin: 0 10px;
}
.container .card{
    height: 600px;
    top: 0;
}
.mx-auto{
    flex-direction: column;
}
.content h2{
    margin-top: 10px;
    font-size: 4em;
    padding: 0;
}
.row{
    margin-top: 50px;
    padding: 10px;
} 
.line{
    font-size: 1.1rem;
}
.nav_bg{
    flex-direction: column;
}
.btn{
    left: 0;
}
.nav-link{
    font-size: 1em;
}
h4{
    font-size: 2rem;
}
.slide img{
    width: 260px;
}}
@media only screen and (max-width: 760px){
    .nav-link{
        color: antiquewhite;
        font-size: 1.4em;
    }   
}