.navbar{
    --bs-navbar-brand-hover-color: #55c395;
    height: 80px;
    /* background-image: linear-gradient(#03191d,#2238fa); */
    /* background-image: linear-gradient(purple, rgba(255, 255, 255, 0.61)); */
    background-color: #cdeaef;
    margin: 10px 0; 
}
.navbar-nav{
    --bs-nav-link-hover-color: #55c395;
}
.nav{
    --bs-nav-link-hover-color: #55c395;
}
.navbar-brand{
  color: black;
  font-family: 'Poppins', sans-serif;
}
.nav-link {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
.nav-link:active{
  color: white;
}
.nav-item{
  color: black;
  margin: 0 10px;
}
.navbar-scrolled{
  /* background-color: #010527; */
  margin: 0;
}

#header{
  margin-top: 60px;
  background-color: #010527;
  /* background-image: url(./images/4882066.jpg); */
  background-size: 3000px 2000px;
}
.bg-light{
  border-radius: 20px;
  --bs-bg-opacity: 0.2;
}
.btn{
    /* background-image: linear-gradient(#8F379E,#B92E61); */
    background-image: linear-gradient(#291a2c1a,#1a86af);
    color: white;
    border-radius: 40px;
    padding: 10px 30px;
    position: relative;;
    left: -30px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    border: var(--bs-btn-border-width) solid #d4e1db;
    --bs-btn-hover-bg: #54e6a2;
    --bs-btn-hover-color: rgb(48, 43, 43);
    transition: 0.5ms;
}
.row{
  margin: 40px 50px;
  padding: 30px; 
}
.row6{
  display: flex;
}
.img-fluid{
    height: 250px;
    width: 360px;
    margin: 100px 0;
} 
.pt-lg-0{
    margin-top: 60px;
} 
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.nav_bg{
  display: flex;
}
.content {
  position: relative;
} 
.col3{
  padding-top: 100px;
  font-size: 1rem;
  color: #fff;
  padding-left: 0;
}
.line{
  font-size: 1.7rem;
}
.content h2 {
  color: #fff;
  font-size: 6.5em;
  position: absolute;
}
.content h2:nth-child(1) {
  /* color: transparent; */
  color: #03C988;
  -webkit-text-stroke: 2px #f7f7f7;
}
.content h2:nth-child(2) {
  color: #48b2e4;
  /* color: #0dc1c7a6; */
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
} 
h1{
  font-size: 2.4rem;
}
.bodied{
  background: #161623;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url(./images/DEMO.png); */
  margin-top: 3px;
  flex-wrap: wrap;
  max-width: 1200px;
}
.container .card{
  position: relative;
  width: 300px;
  height: 800px;
  margin: 40px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.section-data{
  text-align: center;
}
.grid-column{
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 100px;
  margin-top: 60px;
  justify-content: space-evenly;
}
.section-data{
  background-color: #1d3557;
}
.section-data h1{
  color: #f1faee;
  text-transform: uppercase;
  font-weight: 300;
  padding: 30px;
  border-bottom: 2px solid #03a9f4;
  display: inline-block
}
.container .card img{
    height: 200px;
    margin: 10px;
    background: white;
    opacity: 1;
  }
.container .card:hover img{
  opacity: 1;
  transition: 0.5s;
}
.container .card .contain{
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}
.container .card .contain h3{
  position: absolute;
  /* top: 40px; */
  justify-content: center;
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}
.container .card:hover .contain h3{
  position: relative;
  /* top: 0px; */
}
.container .card .contain p{
  font-size: 1em;
  color: #fff;
  font-weight: 300;
  opacity: 0.5;
  transition: 0.5s;
  transform: translateY(100px);
}
.container .card:hover .contain p{
    transform: translate(0px);
    opacity: 1;
}
/* p{
  margin-top: 30px;
} */
.container .card .contain a{
  position: absolute;
  left: 80px;
  top: 200px;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 16px;
  z-index: 1;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.container .card:hover .contain a{
  opacity: 0;
}
.img-logo{
  margin-top: 20px;
}
.col1{
  margin: 0;
}
.col1 video{
  margin: 0 20px;
  height: 400px;
}
.about{
  color: white;
}
.footer-section{
  margin-top: 3px;
  background-color: #031b30;
  /* background-color: #1d4161;   */
  color: white;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-around;
}
.team a{
  display: block;
  color: #03a9f4;
  text-decoration: none;
  cursor: pointer;
}
.foot{
  height: 160px;
  position: relative;
}
.desc{
  justify-content: center;
}
.desc h3{
  font-size: 2em;
  margin-top: 20px;
  padding-left: 110px;
}
.row1{
  padding: 40px;
  padding-top: 0;
}
.row2{
  margin: 40px;
}
.singleCol{
  max-width: 700px;
  margin: 0 auto;
}
.social-media-icons-white a{
  color: white;
  font-size: 2.8rem;
  justify-content: space-around;
  transition: 0.3s;
}
.social-media-icons-white a:hover{
  transform: translateY(-10px)
}
.descr h3{
  color: #03a9f4;
  font-size: 2.5rem;
}
.col2{
  text-align: center;
  padding: 20px;
}
@keyframes lights { 
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}
.data{
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 10px;
  color: #f1faee;
}
h4 {
  /* margin: auto; */
  font-size: 2.8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}
.data a{
  color: white;
  font-size: 2.8rem;
  justify-content: space-around;
  transition: 0.3s;
}